:root {
    --primary-color:black;
    --overlay-color:rgba(169, 169, 169, 0.9);
    --menu-speed: 0.75s;
}


.showcase{
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,1) 4%, rgba(59,129,144,1) 20%, rgba(0,0,0,1) 50%, rgba(59,129,144,1) 80%, rgba(73,73,73,1) 96%);}


.menu-wrap .hamburger {
    background-color: var(--overlay-color);
}

.menu-wrap .hamburger > div {
    background-color: black;
}
    


.footer {
    background: var(--overlay-color);
    color: black;
}
.contacts {
    display: flex;
    flex-direction: column;
}

.btn-c {
    
    
    border: none;
    background-color: var(--overlay-color);
    color: #000;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    margin: 1rem 5px 0 5px;
    
    text-decoration: none;
    
    transition: opacity 1s ease-in;
}

.btn-c:hover {
    opacity: 0.69;
}