.container {
    max-width: 100vw;
}
.showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
    position: relative;

}





.showcase::before {
    background-attachment: fixed;
    height: 100%;
}

.showcase h1 {
    font-size: 10vw;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.image p {
    font-weight: 300;
    font-size: 3.3vw;
    font-weight: bold;
    text-align: start;
    

}

img {
    margin-bottom: 1rem;
   width: 90vw;
   height: 90vw;
   object-fit: cover;
    border-radius: 1%;
}