.container {
    max-width: 100vw;
}
.showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
    position: relative;

}

.showcase::before {
    background-attachment: fixed;
    height: 100%;
   
}

.showcase h1 {
    
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.image .bottom, .image .top, .image p {
    font-weight: 300;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    text-align: start;
}

.image .bottom {
    position: absolute;
    visibility: hidden;
}




img {
    margin: 0 1rem 1rem 0;
   width: 70vw;
   max-height: 70vw;
   object-fit: cover;
    border-radius: 1%;
}



@media (min-width: 800px) {
    .gallery {
        
        max-width: 100vw;
       
    }

    .block-1 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
    }

    .block-2 {
        display: flex;
        align-items: flex-start;
    }
    img {
        border-radius: 0;
        width: 31vw;
        max-height: 30vw;
        margin-bottom: 0;
    }
    img:hover {
        transform: matrix(1.01, 0, 0, 1.01, 0, 0);
    transition: 0.5s ease;
    }
    
    .image .bottom, .image p {
        font-size: 1.5rem;
        visibility: visible;
        position: initial;
    }

    .image .top {
        position: absolute;
        visibility: hidden;
    }
}