.container {
    max-width: 100vw;
}
.showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
    position: relative;

}





.showcase::before {
    background-attachment: fixed;
    height: 100%;
}

.showcase h1 {
    
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.image p {
    font-weight: 300;
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
    

}

img {
    margin-bottom: 1rem;
   width: 70vw;
   max-height: 50vw;
   object-fit: cover;
    border-radius: 1%;
}