:root {
    --primary-color:rgba(139, 63, 12, 0.75);
    --overlay-color:rgba(51, 34, 24, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    line-height: 1.4;
    letter-spacing: 2px;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase::before {
    content: '';
    background: url(../img/cube.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

.muyslv {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    z-index: 2;
}
.muyslv a{
    color: inherit;
    text-decoration: none;
}

.footer {
    background: var(--primary-color);
   
    
    width: 100%;
    line-height: 1.8rem;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.footer ul li {
    display: inline;
    margin: 0 2px;
    letter-spacing: initial;
}
.footer a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: all 0.6s ease-out;
}
.footer a:hover {
    color: rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
}