html {
    /*background-color: aliceblue;*/
    
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    height: 100%;
    margin: 0;
    
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    position: relative;
}

body::after{
    content: '';
    display: block;
    height: 50px;
}

nav {
    background-color: #241e1e;
    margin: 0;
    color: whitesmoke;
    line-height: 7rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 1.5px grey;
    
    transform: scale(1.2) translate(0px, 2rem);
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    margin: auto;   
}
nav a:first-child {
    margin-left: 2px;
}

.n-grid {
    display: grid;
    
    grid-template-columns: 10% 5% 120px 15% 15% 16% 15%;
}

@media (min-width: 1200px) {
    .n-grid {
        grid-template-columns: 10% 20% 40% 7% 7% 8% 8%;
    }
}

@media (max-width: 580px) {
    

    .n-grid {
        line-height: 3rem;
        grid-template-columns:100%;
        grid-template-rows: 20px 0px 50px;

    }
    nav a:first-child {
        margin-top: 1rem;
    }

    .logo {
        transform: scale(0.5,1) translate(0, -2rem);
    }

    

}




footer {
    background-color: #241e1e;
    color: whitesmoke;
        text-align: center;
        font-size: 1.7rem;
        line-height: auto;
        position: absolute;
        width: 100%;
    }

footer a, footer a:link, footer a:visited{
    text-decoration: none;
    color: whitesmoke;
    margin: 0 4px;
}
    

h1 { 
    color: #640b49; 
    font-family: 'Raleway',sans-serif; 
    font-size: 6.2rem; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 5rem 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}


h2 { color: #640b49; 
    font-family: 'Raleway',sans-serif; 
    font-size: 3rem; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
    text-align: center; 
}




p { color: #240707; 
    font-family: 'Raleway',sans-serif; 
    font-size: 2.2rem; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 2rem 1rem;
    
}









li:last-child {
    margin-right: 0%;
}

abbr {
    text-decoration-line: none;
    
}



 
article {
    display: block;
    margin: auto;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    /*opacity: 40%;*/
    text-align: start;
    border-radius: 10px;
}

@media only screen and (max-width: 580px) {
    article {
        width: 100%;
    }
}






@media only screen and (min-width: 1200px) {
    article {
        width: 800px;
    }
}


img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    
    
}

.grid {
    display: grid;
    grid-template-columns: 80% 18%;

    place-items: top;
}