html {
    /*background-color: aliceblue;*/
    
    font-family:  Verdana, sans-serif;
    font-size: 10px;
    height: 100%;
    margin: 0;
    text-align: center;
    
}

html::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
  /*  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);*/
    position: relative;
}

body::after{
    content: '';
    display: block;
    height: 50px;
}

nav {
    background-color: #241e1e;
    margin: 0;
    color: whitesmoke;
    line-height: 10rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
    border-bottom: 1px solid grey;
}

.logo {
    transform: scale(0);
    width:0;}
nav a {
    text-decoration: none;
    color: whitesmoke;
    margin: auto;   
    max-height: 100px;
    margin-right: 1rem;
}
nav a:first-child {
    margin-left: 2px;
    text-transform: lowercase;
}

.n-grid {
    display: grid;
    
    grid-template-columns: 10% 21% 17% 17% 18% 17%;
}

@media (min-width: 1200px) {
    .n-grid {
        grid-template-columns: 10% 53% 9% 9% 10% 9%;
    }

    .logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid grey;
       
        position: sticky;
        
        
        transform: scale(1.2) translate(0px, -3.5rem);
    }
    
}

@media (max-width: 580px) {
    

    .n-grid {
        line-height: 3rem;
        grid-template-columns:100%;
        grid-template-rows: 0 0 30px 30px 30px;
        border-bottom: 1px solid grey;
    }

    nav a{
        border-bottom: 1px solid grey;
    }

    nav a:first-child, nav a:last-child {
        border-bottom: none;
    }

    
    


}




footer {
    background-color: #241e1e;
    color: whitesmoke;
        text-align: center;
        font-size: 1.7rem;
        line-height: auto;
        position: absolute;
        width: 100%;
    }

footer a, footer a:link, footer a:visited{
    text-decoration: none;
    color: whitesmoke;
    margin: 0 4px;
}
    

h1 { 
    color: #640b49; 
    font-family: 'Raleway',sans-serif; 
    font-size: 6.2rem; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}


h2 { color: #640b49; 
    font-family: 'Raleway',sans-serif; 
    font-size: 3rem; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
    text-align: center; 
}

h2 a {
    color: #640b49; 
    border-bottom: 3px solid;
    
    text-decoration: none;
}

h2 a:hover, h2 a:focus {
    color:#9b397d;
}


p { color: #240707; 
    font-family: 'Raleway',sans-serif; 
    font-size: 2.2rem; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 2rem 1rem;
    
}









li:last-child {
    margin-right: 0%;
}

abbr {
    text-decoration-line: none;
    
}



 
article {
    display: block;
    margin: auto;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    /*opacity: 40%;*/
    text-align: start;
    border-radius: 10px;
}

article h2 {
    text-align: start;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 580px) {
    article {
        width: 100%;
    }
}






@media only screen and (min-width: 1200px) {
    article {
        width: 800px;
    }
}


img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    
    
}

.grid {
    display: grid;
    grid-template-columns: 80% 18%;

    place-items: top;
}