table {
    border-collapse: collapse;
    border: 2px solid rgb(83, 17, 17);
    letter-spacing: 1px;
    font-size: 2rem;
    width: 100%;
    word-break: break-all;

  }
  
  td, th {
    border: 1px solid rgb(87, 8, 8);
    padding: 10px 20px;
    width:25px;
    
    
  }
  th {
    text-shadow: 1px 1px 1px whitesmoke;
    font-size: 2.5rem;
  }
 /* th {
    background-color: rgb(224, 236, 247);
  }*/
  
  td {
    text-align: center;
    hyphens: manual;
   
  }
  
  /*tr:nth-child(even) td {
    background-color: rgb(240,248,255)
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,250,255);
  }
  */
  caption {
    padding: 10px;
  }